/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#internDeck {
	-fx-background-color: skyblue;
	-fx-text-fill: black;
	-fx-border-insets: 70.0% ;
	-fx-padding:15.0px ;
}

#juniorDeck {
	-fx-background-color: blueviolet;
	-fx-text-fill: white;
	-fx-border-insets: 70.0% ;
	-fx-padding:15.0px ;
}

#itemDeck {
	-fx-background-color: darkorange ;
	-fx-text-fill: white;
	-fx-border-insets: 70.0% ;
	-fx-padding:15.0px ;
}

#mainBackground {
	-fx-background-color: #343434 ;
}

#aboutBackground {
	-fx-background-color: #343434 ;
}

#pauseBackground {
	-fx-background-color: #343434 ;
}

#rulesBackground {
	-fx-background-color: #343434 ;
}

#gameBackground {
	-fx-background-color: grey ;
}

#Title {
	-fx-text-fill: #2CFF2C;
	-fx-font-family: "Brittanic Bold";
	-fx-font-size: 50px;
}

#nameLabel {
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
	-fx-font-size: 40px;
}

#button {
	-fx-background-color: #2B2D2C ;
	-fx-text-fill: #858A87;
	-fx-font-family: "Brittanic Bold";
	-fx-background-radius: 12px;
	-fx-font-size: 30px;
}

#button:hover {
	-fx-background-color: #2B2D2C ;
	-fx-text-fill: #00EC10;
	-fx-font-family: "Brittanic Bold";
	-fx-background-radius: 12px;
	-fx-font-size: 30px;
	-fx-border-color: #00EC10;
	-fx-border-radius: 12px;
}

#gameButtonSmall, #previousButton, #viewHandButton, #nextButton, #viewDictionaryButton, #collectButton, #buttonPause {
	-fx-background-color: #2B2D2C ;
	-fx-text-fill: #858A87;
	-fx-font-family: "Brittanic Bold";
}

#gameButtonSmall:hover, #previousButton:hover, #viewHandButton:hover, #nextButton:hover, #viewDictionaryButton:hover, #collectButton:hover, #buttonPause:hover {
	-fx-background-color: #2B2D2C ;
	-fx-text-fill: #00EC10;
	-fx-font-family: "Brittanic Bold";
	-fx-border-color: #00EC10;
	-fx-border-radius: 2px;
}

#upgradeDeckButton {
	-fx-background-color: #B1EFB6;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
}

#upgradeDeckButton:hover {
	-fx-background-color: #B1EFB6;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
	-fx-border-color: #2B2D2C;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

#actionDeckButton {
	-fx-background-color: #BFDCF0;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
}

#actionDeckButton:hover {
	-fx-background-color: #BFDCF0;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
	-fx-border-color: #2B2D2C;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

#objectiveDeckButton {
	-fx-background-color: #F0ECA6;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
}

#objectiveDeckButton:hover {
	-fx-background-color: #F0ECA6;
	-fx-text-fill: #2B2D2C;
	-fx-font-family: "Brittanic Bold";
	-fx-border-color: #2B2D2C;
	-fx-border-width: 2px;
	-fx-border-radius: 3px;
}

.root{
	
}